* {
	margin : auto;
}

.error {
    color:red;
}

header {
	margin : auto;
	background-color:  rgb(140, 140, 255);
}


body {
	margin : auto;
	background-color : rgb(212, 155, 81);
	height : auto;
}

h1 {
	text-align : center;
	color : white;
	font-family : 'Franklin Gothic Medium';
}

h2 {
	text-align: center;
	padding-top : 10px;
}

h3 {
	margin: 3px;
	/*margin-left : 5px;
	margin-right : 5px;*/
	background-color: antiquewhite;
}

h4 {
	margin : auto;
}


section {
	background-color: antiquewhite;
}

section > div {
	display : block;
	margin-left : auto;
	margin-right: auto;
}

div > #div_flex {
	margin: 10px 0 10px 0;
	margin-left : 2%;
	margin-right : 2%;
	display: flex;
	flex-wrap: wrap;
}


#div_flex > aside {
	width: 33.10%;
	background-color: #00785a;
	margin : 20px 0 20px 0;
	text-align:center;
    border:solid;
    border-width:0.2px;
    height:100px;
}

article {
	margin-top: 10px;
	background-color: white;
	margin-bottom: 10px;
}

article > div {
	background-color: rgb(150, 155, 150);
}

#SVG {
	margin:0;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	height : auto;
	width : auto;
	text-align: center;
}

#SVG > #mapsection {
	margin-top : 20px;
	margin-left: auto;
  	margin-right: auto;
	/*margin-bottom: 20px;*/
	width : 1100px;
	height : 715px;
}

path {
	fill:#00785a;
	stroke:white;
}

path:hover {
	fill: black;
}

#research {
	background-color: #00785a;
	fill-opacity: 0.2;
	border-radius: 25%;
	width: 320px; 
	/*top right bottom left */
	margin: 10px 0 0 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*
div > input,label {
	font-size: 14px;
	margin-left: 2%;

}*/

#Connexion {
    display: flex;
    flex-direction: row;
    border: solid;
    height: 40px;
    width: 40px;
	border-width: 0.0px;
    position: absolute;
    top: 4px;
    right: 1%;
    border-radius: 50%;
}

#Connexion > #BConnexion {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color:mediumseagreen;
    border: solid;
    display: block;
    border-width: 0.2px;
    text-align: center;
    text-decoration: none;
    opacity: 0.8;
}

#BConnexion > i {
	margin : 0;
	font-size: 30px;
	padding-top: 8%;
	text-align: center;
}


#ThemeMode {
    display: flex;
    flex-direction: row;
    border: solid;
    height: 40px;
    width: 40px;
	border-width: 0.0px;
    position: fixed;
    top: 50px;
    right: 1%;
    border-radius: 50%;
}

#ThemeMode > #BThemeMode {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color:mediumseagreen;
    border: solid;
    display: block;
    border-width: 0.2px;
    text-align: center;
    text-decoration: none;
    opacity: 0.8;
}

#BThemeMode > i {
	margin : 0;
	font-size: 30px;
	padding-top: 8%;
	text-align: center;
}


/*
#formulaire_creation {
	content:"";
	display:table;
	clear:both;
}

#formulaire_ident {
	content:"";
	display:table;
	clear:both;
}
*/

/*
fieldset {
	height: auto;
	width: auto;
	margin: auto ;
}*/

/*
form  div {
	background-color: burlywood;
	display:flex;
    align-items:center;
}*/


form {
	content:"";
	display:table;
	clear:both;
    background-color: #00785a;
	opacity: 0.9;
	display: none;
}


#formulaire_ident {
	display: table;
	/*Placer au centre de la page*/
	justify-content: center;
	height : 500px;
	margin-top : 10%;
	margin-bottom : 10%;
}

#formulaire_creation {
	display: table;
	/*Placer au centre de la page*/
	justify-content: center;
	height : 500px;
	margin-top : 10%;
	margin-bottom : 10%;
}

form > fieldset {
	/*display: block;*/
	/*margin:0 auto;
	margin-top : 30%;
	margin-bottom: 30%;*/
	/*margin-top : auto;
	margin-bottom: auto;*/
	/*display:flex;
	align-items: center;*/
	/*justify-content: center;*/
}

form div {
    margin-top:10px;
    margin-bottom:10px;
    display:flex;
    align-items:center;
}

.fdiv label {
    /*margin-left:40px;
    margin-right:50px;
	margin-top : 20px;
	margin-bottom : 20px;*/
	margin: 20px 40px 20px 30px;
    float:left;
    width:35%;
    text-align:center;
}

.fdiv input {
	margin-right : 40px;
}


form button {
    background-color:rgb(123, 140, 224);
    border:solid;
    border-width:0.2px;
    display:block;
    margin-left:auto;
    margin-right:auto;
	margin-bottom: 30px;
	margin-top: 20px;
    color:rgb(0, 0, 0);
    height:30px;  
}


#create_or_log {
	background-color: rgb(150, 155, 150);
	height: auto;
	width: auto;
	display: flex;
    align-items:center;
	flex-direction: column;
}

#create_or_log > div {
	margin-top : 5%;
	margin-bottom : 5%;
	height : 100px;
	width : 100px;
	background-color:  #00785a;
}

.fdiv button {
	background-color:  #00785a;	
	opacity: 0.7;
	font-size: 22px;
	border-color: #00785a;
	border-radius: 40%;
	text-align: center;
	width:auto;
	height: 45px;
}

#ident {
}

#creation {
	
}

/*
div > span {
	margin : auto;
	width : 50%;
}*/


p {
	font-size : 20px;
}

#top {
    display: none;
    flex-direction:row;
    border:solid;
    border-width:0.0px;
    height:40px;
    width:40px;
    position:fixed;
    bottom:20px;
    right:1%;
    border-radius:50px 50px 50px 50px;
}

#top>a {
    border-radius:50px 50px 50px 50px;
    width:100%;
    height:100%;
    background-color:mediumseagreen;
    border:solid;
    display:none;
    border-width:0.2px;
    text-align:center;
    text-decoration:none;
    opacity:0.8;
 }

 #top>a>i{
     padding-top:10px; 
 }

#top:hover{
    background-color:gray;
    opacity:0.8;
    transition: background-color 0.5s;
}



footer {
	margin : auto;
}



@media screen and (max-width:800px) {

}