/*------------------------ ALL -----------------------*/
:root {
    --theme-color:"rgb(150, 155, 150)";
    --blk_or_wht:"black";
    --blk_or_org:"rgb(212, 155, 81)";
}

html {
    background-color: var(--blk_or_org);
}

* {
    margin: auto;
    overflow-x: hidden;
}

.error {
    display:block;
    width:40%;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    color:red;
}

header {
    width:auto;
    height:auto;
	background-color:  rgb(140, 140, 255);
}

body {
	margin : auto;
	background-color : rgb(212, 155, 81);
	height : auto;
}

h1 {
    text-align: none;
	color : white;
    text-align: center;
	font-family : 'Franklin Gothic Medium';
    min-width:300px;
}

h2 {
	text-align: center;
	padding-top : 10px;
}

h3 {
	margin: 3px;
	background-color: antiquewhite;
}

h4 {
	margin : auto;
}

.no_background_color {
    color:var(--blk_or_wht);
}

article {
	margin-top: 10px;
	background-color: white;
	margin-bottom: 10px;
}

article > div {
	background-color: var(--theme-color);
}

#global {
    background-color:  var(--theme-color);
}

section > div {
	display : block;
	margin-left : auto;
	margin-right: auto;
}

fieldset {
	border-width: 0.0px;
}

form {
	width:50%;
	text-align:center;
    display:none;
    margin: 0px auto 10px auto;
    height:auto;
    background-color: var(--theme-color);
}

form div {
    margin-top:10px;
    margin-bottom:10px;
    display:flex;
    align-items:center;
}

.fdiv {
    color:white;
}

.fdiv > label {
    margin-left:30%;
    margin-right:10px;
    float:left;
    width:120px;
    text-align:center;
    font-size:18px;
    font-weight:550;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fdiv > input, textarea, select  {
	color:black;
	font-size: 17px;
    padding: 5px 3px 0px 3px;
    margin:3px;
    background-color: whitesmoke;
    border-color:whitesmoke;
    border-width: 0px;
    border-radius: 10px;
}

form button {
    background-color: rgb(145, 42, 42,0.8);/*indianred*/
    display:block;
    color:ivory;
    margin: 20px auto 10px auto;
	font-size: 16px;
    height: 37px;
	width:25%;  
    cursor:pointer;
    padding: 0px 3px 0px 3px;
    font-weight:550;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border:solid;
    border-color:brown;
    border-radius: 20px;
    border-width: 0.15px; 
    padding: 5px 0px 5px 0px;
}

#top {
    overflow: visible;
    display: none;
    flex-direction:row;
    border:solid;
    border-width:0.0px;
    height:40px;
    width:40px;
    position:fixed;
    bottom:30px;
    right:1%;
    border-radius:50px 50px 50px 50px;
}

#top>a {
    border-radius:50px 50px 50px 50px;
    width:100%;
    height:100%;
    background-color:mediumseagreen;
    border:solid;
    display:none;
    border-width:0.2px;
    text-align:center;
    text-decoration:none;
    opacity:0.8;
    border-color:black;
 }

#top>a>i{
    padding-top:10px;
    color:black; 
}

#top:hover{
    background-color:gray;
    opacity:0.8;
    transition: background-color 0.5s;
}

footer {
	margin : auto;
}

/*--------------------------- ACCOUNT ---------------------------*/
.choices {
    width:50%;
    height:200px;
    margin:auto;
    display: flex;
    flex-direction: column;
    background-color: var(--theme-color);
}

.choices > button {
    width:130px;
    height:40px;
    margin: 40px 10px 5px 10px;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(155, 42, 42,0.7);
    color: ivory;
    font-size:16px;
    font-weight:550;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border:solid;
    border-color:brown;
    border-radius: 20px;
    border-width: 0.15px; 
    padding: 5px 0px 5px 0px;
    cursor:pointer;
}

.choices > #creation {
    padding-bottom : 40px;
}

.choices > #story_crea {
    height:50px;
}

#crea_story {
    border:none;
}

.fdiv__story > textarea {
    height:80px;
    width:300px;
}

.fdiv__story > label {
    width:250px;
    margin-left:15%;
}


.as_account {
    width:130px;
    height:40px;
    margin: 10px;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(155, 42, 42,0.7);
    color: ivory;
    font-size:16px;
    font-weight:550;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border:solid;
    border-color:brown;
    border-radius: 20px;
    border-width: 0.12px; 
    padding: 5px 0px 5px 0px;
    cursor:pointer;
    display:none;
}

#stories_sec {
    display:none;
    background-color: var(--theme-color);
}

#stories_sec > .div_flex {
    margin:0px;
    border:none;
}

#stories_sec > .div_flex > .separate {
    border:solid;
    width:140px;
    border-width:0.2px;
}

#stories_sec > .div_flex > aside {
   width:100%;
   min-height: 100px;
   height:auto;
   border:none;
   background-color: var(--theme-color);
}

#stories_sec > .div_flex > aside  > div {
    display:flex;
    flex-wrap: wrap;
    margin-top:20px;
    min-height:100px;
}

#stories_sec > .div_flex > aside > div > div { 
    margin-top:30px;
    margin-bottom:30px;
    height:100%;
    min-height:100px;
    width:30%;
}

#stories_sec > .div_flex > aside > div > div > p { 
    margin-top:30px;
    margin-bottom:30px;
    height:100%;
    min-height:100px;
}

/*-------------------- GLOBAL STORIES ----------------------*/
div > .div_flex {
	margin: 10px 0 10px 0;
	margin-left : 2%;
	margin-right : 2%;
	display: flex;
	flex-wrap: wrap;
}


.div_flex > aside {
	width: 33.10%;
	background-color: #00785a;
	margin : 20px 0 20px 0;
	text-align:center;
    border:solid;
    border-width:0.2px;
    height:auto;
    min-height: 100px;
}

/*---------------------------------- INDEX ---------------------*/
#SVG {
    background-color: white;
    position:relative;
	margin:0;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	height : auto;
	width : auto;
    min-width:400px;
    max-width:100%;
	text-align: center;
    background-color: var(--theme-color);
}

#SVG > #SVG_div {
    overflow-y: scroll;
    overflow-x: scroll;
    position:relative;
    min-width: 400px;
    width:100%;
    height:auto;
}

#SVG_div > #mapsection {
    margin-top : 20px;
	margin-left: auto;
  	margin-right: auto;
	width : 1050px;
    min-width:400px;
	height : 715px;
    position:sticky;
    left:0;
}

.block {
    overflow-y : hidden;
    width:40px;
    height:40px;
    position:absolute;
    top:400px;
}

#block_1 {
    left:1.5%;
}

#block_2 {
    right:1%;
}

.direction {
    position:static;
}

.direction > #left {
    margin:0;
    display:none;
    height:40px;
    width:40px;
    border-radius:50px 50px 50px 50px;
    border-color:black;
    overflow-y: hidden;;
}

#left>a {
    border-radius:50px 50px 50px 50px;
    width:95%;
    height:95%;
    background-color:mediumseagreen;
    border:solid;
    display:none;
    border-width:0.2px;
    text-align:center;
    text-decoration:none;
    opacity:0.8;
    border-color:black;
}

#left>a>i {
    padding-top:7px;
    color:black; 
    font-size:20px;
}

#left:hover{
    background-color:gray;
    opacity:0.8;
    transition: background-color 0.5s;
}

.direction > #right {
    margin:0;
    display: none;
    height:40px;
    width:40px;
    border-radius:50px 50px 50px 50px;
    border-color:black;
}

#right>a {
    border-radius:50px 50px 50px 50px;
    width:95%;
    height:95%;
    background-color:mediumseagreen;
    border:solid;
    display:none;
    border-width:0.2px;
    text-align:center;
    text-decoration:none;
    opacity:0.8;
    border-color:black;
}

#right>a>i{
    padding-top:7px;
    color:black; 
    font-size:20px;
}

#right:hover{
    background-color:gray;
    opacity:0.8;
    transition: background-color 0.5s;
}
path {
    --path-background-color:"black";
	fill:#00785a;
	stroke:white;
}

path:hover {
	fill: var(--path-background-color);
}

#research {
	fill-opacity: 0.2;
	border-radius: 25%;
	width : auto;
    min-width:1300px;
    max-width:1800px; /* or auto */
	/*top right bottom left */
	margin: 10px 0 0 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*------------------- HEADERS-OPTIONS -----------------*/
.heads_buttons {
    display: flex;
    flex-direction: row;
    border: solid;
    height: 40px;
    width: 40px;
	border-width: 0.0px;
    position: absolute;
    top: 4px;
    right: 1%;
    border-radius: 50%;
}

.heads_buttons > button {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color:mediumseagreen;
    border: solid;
    display: block;
    border-width: 0.2px;
    text-align: left;
    text-decoration: none;
    opacity: 0.8;
    cursor:pointer;
    color: var(--blk_or_wht);
    padding-left:5px;
}

#Connexion {
    position: absolute;
    top: 4px;
}

#ThemeMode {
    position: absolute;
    top: 50px;
}

.heads_buttons > button > i {
	margin : 3px 0 0 -2px;
	font-size: 30px;
}

.connected {
    width:100px;font-size:17px;right:0px;text-align:center;
}

/*---------------------------- GLOBAL MEDIA QUERIES -----------------*/
@media screen and (max-width:1800px) {
    .heads_buttons > button {
        padding-left:5px;
        padding-right:5px;
    }

    div .error {
        width:100%;
    }
}

@media screen and (max-width:1500px) {
    form, .choices {
        width:60%;
    }

    .div_flex > aside {
        width:49.5%;
    }
}

@media screen and (max-width:1200px) {
    #stories_sec > .div_flex > aside  > div {
        flex-wrap: none;
        flex-direction: column;
    }

    form, .choices {
        width:70%;
    }

    .choices > #creation {
        padding:0;
    }
    .choices > #story_crea {
        height:40px;
    }
    form div {
        width:100%;
        margin-top:10px;
        margin-bottom:10px;
        display:flex;
        flex-direction:column;
    }

    .fdiv label {
        float:center;
        margin-left:0px;
        margin-right:0px;
        width:auto;
    }

    form textarea {
        width:100%;
    }

    form button , .choices button {
        width:80%;
        margin-left:10%;
    }
}

@media screen and (max-width:800px) {
    .div_flex > aside {
        width:100%;
    }

    form, .choices {
        width:100%;
    }

    form div {
        margin-top:2px;
        margin-bottom: 0px;
    }

    form div > div {
        margin-top:0px;
        margin-bottom: 4px;
    }
}